{% extends 'base.html' %}
{% block body %}
    <table id = "table" class = "table table-bordered">
        <thead class = "alert-success">
            <tr>
                <th>User id</th>
                <th>Tweet</th>
                <th>Suicidal tendency</th>
            </tr>
        </thead>
        <tbody>
            {% for member in all_members %}
            <tr>
                <td>{{ member.userid }}</td>
                <td>{{ member.post }}</td>
                <td>{{ member.status }}</td>
                
            </tr>
           {% endfor %}
        </tbody>
    </table>
 
{% endblock %}