{% extends 'base.html' %}
{% block body %}
    <table id = "table" class = "table table-bordered">
        <thead class = "alert-success">
            <tr>
                <th>User id</th>
                <th>Tweet/Reddit Post</th>
                <th>Output</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for member in all_members %} -->
            <tr>
                <td> user</td>
                <td> post</td>
                <td> output</td>
                
            </tr>
           {% endfor %}
        </tbody>
    </table>
 
{% endblock %}